body {
    background-color: var(--bg-color);
}

.hero-section {
    min-height: 20vh;
}

/* .dlivery {
    border: 1px solid #22222233;
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    width: 90%;
    text-align: center;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.discount {
    background-color: #fff;
    border: 1px solid #ebc305;
    color: #ebc305;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    height: fit-content;
    width: 70%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount_code {
    white-space: nowrap;
}

.des_price {
    text-decoration: line-through;
    color: #22222280;
    font-weight: 600;
}


.books_count span {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    border: 2px solid var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.item-cart {
    background-color: #fff;
    padding: 1rem;
}

.del-item {
    cursor: pointer;
}
.remove {
    display: none;
}
.cart_btn {
    background-color: var(--primary-color);
}
.cart_btn:hover {
    border-color: var(--primary-color);
    color: var(--primary-color);
}
.payment_title {
    font-size: 1.7rem;
    font-weight: 700;
}

.payment-section {
    background-color: #3b2f4a1a;
}

@media (max-width: 768px) {
    .table_head,
    .sell-price {
        display: none !important;
    }

    .item-image img {
        height: 80% !important;
    }
    .remove {
        display: block;
    }

    .del-item {
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--main-color);
        padding: 12px 16px;
        border-radius: 8px;
        color: #fff;
        border: none;
        transition: 500ms;
    }
}

.btn-delete {
    background-color: #d9176c;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-delete:hover {
    transform: scale(1.05);
}

.btn-delete i {
    font-size: 20px;
}

.btn-delete:focus {
    outline: none;
}
